[submodule "starter-code"]
	path = starter-code
	url = git@github.com:wyatt-avilla/cse-111-starter-code.git
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
